h1 {
  font-size: 12px;
  margin: 8px 16px;
}

.albums {
  display: flex;
  flex-direction: column;
}

.album {
  border: 2px solid goldenrod;
  background-color: honeydew;
  margin: 10px;
  position: relative;
  display: flex;
}

.album h1 {
  margin: 8px;
  flex: 1 0 200px;
}

.album button {
  margin: 8px;
  padding: 8px;
  flex: 3;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 8px;
}

.photo {
  margin: 8px;
}

.photo img {
  height: 80px;
}
